
  .navbar{
    padding: 0px 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background: #1A0B2E;
box-shadow: 0px 6px 22px -3px rgba(0, 0, 0, 0.10);
}

.navbarItems{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  font-family: inter;
  font-weight: 600;
  font-size: 20px;
  color: white;
}
.navbarItems a{
  margin: 0px 14rem;
}

.heroImg{
  
  padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSlogan{
  margin-top: 0.5rem;
}

.heroSlogan h1{
  color: #FFF;
font-family: Preahvihear;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
display: flex;
align-items: center;
justify-content: center;

}

.heroSlogan p{
  color: #FFF;
font-family: Preahvihear;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.42px;
display: flex;
align-items: center;
justify-content: center;
}

.heroSlogan span{
  color: #1877F2;
font-family: Preahvihear;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.42px;
}

.bio{
  display: flex;
align-items: center;
justify-content: center;

}

.bio p{
  color: #FFF;
font-family: Preahvihear;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.44px;
}
